body {
  background-color: #605366;
  height: 100%;
}

.container {
  max-width: 600px;
  position: relative;
  margin: 5rem auto;
  padding: 0 0;
  text-align: center;
}

h1 div {
  display: inline-block;
}

#words {
  padding-top: 40%;
  color: #FFCF31;
}

#emojis {
  margin-top: -7%;
  margin-left: -2%;
  margin-right: 2.5%;
}

img {
  width: 1.3em;
  height: 1.3em;
  margin: 0 3rem;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
#words {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}


#emojis {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

