body {
  background-color: #605366;
  height: 100%;
}

.container {
  max-width: 600px;
  position: relative;
  margin: 5rem auto;
  padding: 0 0;
  text-align: center;
}

#words {
  padding-top: 50%;
  color: #FFCF31;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;

}

h1 div {
  display: inline-block;
}

#words div {
  margin: 0 4rem;
}


img {
  width: 1.3em;
  height: 1.3em;
  margin: 0 3rem;
}
