* {
  box-sizing: border-box;
}

body {
  background-color: #605366;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  text-align: center;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: #eee;
  font-family: 'Proxima Nova', 'futura', 'helvetica';
}

img {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 200px;
}

.input {
  width: 100%;
}

.input__input {
  position: relative;
  font-size: 36px;
  width: 100%;
  padding: 0.5em 0.6em;
  line-height: 1.4;
  -webkit-appearance: none;
  border-radius: 2px;
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #E2BCE8 0%, #985CFF 100%), linear-gradient(to right, #E2BCE8 0%, #985CFF 100%);
  border-left: 3px solid #E2BCE8;
  border-right: 3px solid #985CFF;
  background-position: 0 0, 0 100%;
  background-size: 100% 3px;
  background-color: transparent;
  color: white;
  text-align: center;
}
.input__input::-webkit-input-placeholder {
  color: #eee;
  font-family: 'Proxima Nova', 'futura', 'helvetica';
  transition: color 0.2s ease-out;
}
.input__input:focus {
  outline: none;
}
.input__input:focus::-webkit-input-placeholder {
  color: white;
}
.input__input:focus ~ .input__bg {
  opacity: 1;
}

.input__bg {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #E2BCE8 0%, #985CFF 100%), linear-gradient(to right, #E2BCE8 0%, #985CFF 100%);
  transition: all 0.3s ease-out;
}

button {
  position: relative;
  font-size: 36px;
  width: 100%;
  padding: 0.5em 0.6em;
  line-height: 1;
  -webkit-appearance: none;
  border-radius: 2px;
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #E2BCE8 0%, #985CFF 100%), linear-gradient(to right, #E2BCE8 0%, #985CFF 100%);
  border-left: 3px solid #E2BCE8;
  border-right: 3px solid #985CFF;
  background-position: 0 0, 0 100%;
  background-size: 100% 3px;
  background-color: transparent;
  color: white;
  text-align: center;
}






