* {
  box-sizing: border-box;
}

body {
  background-color: #605366;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: #eee;
  font-family: 'Proxima Nova', 'futura', 'helvetica';
}

img {
  padding-bottom: 50px;
  padding-top: 10px;
  margin-top: -5%;
  width: 27em;
  height: 30em;
}

.input__input {
  font-size: 36px;
  width: 12em;
  padding: 0.5em 0.6em;
  line-height: 1.4;
  -webkit-appearance: none;
  border-radius: 2px;
  border: solid;
  border-color: white;
  background-position: 0 0, 0 100%;
  background-size: 100% 15px;
  background-color: transparent;
  text-align: center;
  color:white;
}

button {
  width: 6em;
  font-size: 36px;
  padding: 0.5em 0.6em;
  line-height: 1;
  -webkit-appearance: none;
  border-radius: 2px;
  border: solid;
  border-color: #FFCF31;
  background-position: 0 0, 0 100%;
  background-size: 100% 3px;
  background-color: transparent;
  color: white;
  text-align: center;
}

nav {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 26px;
  background-color: transparent;
  color: white;
}


::-webkit-input-placeholder {
  color:#FFCF31;
}

