body {
  background-color: #605366;
  height: 100%;
}

.container {
  max-width: 600px;
  position: relative;
  margin: 5rem auto;
  padding: 0 0;
  text-align: center;
}

#words {
  padding-top: 40%;
  color: #FFCF31;
}

@-webkit-keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#hL{
    -webkit-animation: fade;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

#aL{
    -webkit-animation: fade;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
}
#nL{
    -webkit-animation: fade;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}
#dL{
    -webkit-animation: fade;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
}
#yL{
    -webkit-animation: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.click {
  margin-bottom: 0;
  color: #FFCF31;
}
