body {
  background-color: #605366;
  height: 100%;
}

.container {
  max-width: 600px;
  position: relative;
  margin: 5rem auto;
  padding: 0 0;
  text-align: center;
}


#words {
  padding-top: 40%;
  color: #FFCF31;
}

img {
  width: 1.3em;
  height: 1.3em;
  margin-top: -2.5em;
}

@-webkit-keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#hL{
    -webkit-animation: fade;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

#aL{
    -webkit-animation: fade;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
}
#nL{
    -webkit-animation: fade;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}
#dL{
    -webkit-animation: fade;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
}
#yL{
    -webkit-animation: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}


/*Emoji Image Title*/
/*#hE{
    -webkit-animation: fade;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

#aE{
    -webkit-animation: fade;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
}
#nE{
    -webkit-animation: fade;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}
#dE{
    -webkit-animation: fade;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
}
#yE{
    -webkit-animation: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}*/
