body {
  background-color: #605366;
  height: 100%;
}

.gamebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

img, .intro {
  padding-bottom: 70px;
  padding-top: 40px;
  width: 31em;
  height: 35em;
  margin-top: 7%;
  margin-bottom: -2%;
}

.newFont {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.input__input {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 3px;
  width: 14.3em;
  padding: 0.5em 0.6em;
  -webkit-appearance: none;
  border-radius: 2px;
  border: solid;
  border-color: white;
  background-color: transparent;
  text-align: center;
  color:white;
}

#introWords {
  color: #222;
  font-size: 23px;
  margin-top: 50px;
  letter-spacing: 1px;
}

#introTitle {
  text-align: center;
  padding-top: 85px;
  color: #FFCF31;
  letter-spacing: 11.5px;
}

::-webkit-input-placeholder, #pauseA, #textA, #quizA {
  color:#FFCF31;
}

#imageLetter {
  color: #252525;
  font-weight: bold;
  font-size: 12em;
  text-align: center;
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: #605366;
}

/*quiz incorrect answers message*/
.alertMsg {
  text-align: center;
  margin-left: 1%;
}

#incorrect{
  width: 370px;
  text-align: center;
  position: absolute;
  top: 50px;
  font-size: 16px;
}




/*SIDEBAR SETTINGS*/
#wrapper {
    padding-left: 70px;
    transition: all .6s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 220px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .6s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 220px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active #sidebar-wrapper {
    left: 220px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 220px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .6s;
    -moz-transition: background .6s;
    -o-transition: background .6s;
    -ms-transition: background .6s;
    transition: background .6s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 80px;
  text-indent: 16px;
  font-size: 20px;
}

.subber li {
  line-height: 30px;
  font-size: 13px;
}

.sub_icon, #main_icon {
   float:right;
   padding-right: 65px;
   padding-top:28px;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .6s ease 0s;
  }
}


#wrapper.active {
    padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 220px;
    transition: all .6s ease 0s;
}

#ex1Slider {
  width: 50%;
}

#ex1Slider .slider-handle {
  background: #605366;
}

.speedText {
  color: white;
  font-size: 15px;
  padding-right: 6px;
  padding-left: 6px;
}

#speedTab {
  margin-left: -8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #363636;
}

.hidden, .tooltip {
  visibility: hidden;
}

